.title{
  width:200px;
  height: 40px;
  color: black;
  position:relative;
  margin: 20px 0;
  vertical-align: middle;
  border-bottom: 0;
}
.chart{
  position:relative;
  top: 2px;
  left: 0;
  width: 35px;
  height: auto;
}
.titlename{
  text-align: left;
  font-family: '微软雅黑 Regular', '微软雅黑';
  font-weight: 400;
  font-size: 16px;
  color: #FF6050;
  position:relative;
  left:10px;
  top: 5px;
  width: 100px;
  height: 30px;
  background-color: transparent;
}





