/*.total{
  width: 97%;
  height: 280px;
}*/
.app{
  width: 100%;
  height: 250px;
}
.biaoshi{
  //让元素旋转
  -webkit-transform:rotate(90deg);
  position:relative;
  height: 20px;
  border: 0px;
  width: 40px;;
  bottom: -44px;
  right: -1090px;
}
.more{
  position:relative;
  height: 20px;
  border: 0px;
  width: 40px;;
  bottom: 0px;
  right: -1120px;
  //right: 10px;
}