.toc {
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px;
  background: url("/demo/images/affix.png");
  background-repeat: no-repeat;
}
.toc > ul {
  padding: 0px 0;
}
.toc > ul li {
  list-style: none;
}
.toc li > ul {
  text-indent: 8px;
  font-size: 12px;
  display: none;
}
.toc a {
  padding-left: 16px;
  border-left: 2px solid #eee;
  margin-left: -2px;
  display: block;
  transition: all 0.3s ease;
  white-space: nowrap;
  overflow: hidden;
  color: #666;
}
.toc a:hover {
  color: #2db7f5;
}
.toc a.current {
  border-color: #2db7f5;
  color: #2db7f5;
}
.toc-affix {
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px;
  margin-top: 2%;
  margin-left: 2%;
}
.demos-anchor {
  color: #aaa;
  background: #fff;
  font-size: 12px;
  margin-top: 0;
}
.demos-anchor a {
  padding-left: 8px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 90px;
}
