//无滚动条四列表格样式
.ws-table-container.basic{
    width: 380px;
    overflow-y:scroll;
    height: 200px;
}

.ws-table-container::-webkit-scrollbar{
    background-color: #f2f2f2;
}
::-webkit-scrollbar-button:increment{
    background-image: url('/demo/images/arrowDown.png') ;
}
::-webkit-scrollbar-button:decrement{
    background-image: url('/demo/images/arrowUp.png') ;
}
::-webkit-scrollbar-thumb:vertical{
    -webkit-border-image: url("/demo/images/u1096.png") 0 13 0 13;
    border-color: transparent;
    border-width: 0 13px;
    min-width: 20px;
}
.ws-table {
    width: 100%;
}

.ws-table-thead th {
    background-color: #f2f2f2;
    width:20%;
    font-size: 12px;
    font-weight: 400;
    color: #999C9f;
    height: 45px;
}

.ws-table-tr:nth-of-type(odd){
    background-color: #fBfBfB;
}
.ws-table-tr:nth-of-type(even){
    background-color: #f2f2f2;
}


.ws-td{
    width:20%;
    font-size: 13px;
    color: #999C9f;
    height: 45px;
}
.ws-td.col-1{
    width:35%;
}
.ws-td.col-2{
    width:25%;
}
.ws-td.col-3{
    width:20%;
}

//三列表格样式
.ws-table2-container{
    width: 400px;
}
.ws-table2 {
    width: 100%;
    border-right: #F2F2F2 solid 1px;
    border-bottom: #f2f2f2 solid 1px;
}
.ws-table2-thead th {
    background-color: #FF6050;
    color: #FFFFFF;
    height: 40px;
    text-align: center;
}
.ws-table2-tr:hover{
    background-color: #f2f2f2;
}
.ws-table2-td{
    width:25%;
    font-size: 13px;
    color: #999C9f;
    height: 45px;
}
.ws-table2-td.col-1 {
    width: 55%;
}
.ws-table2-td.col-2 {
    width: 20%;
    text-align: right;
}
.top3{
    color: red;
}
.button{
    width: 131px;
    height: 25px;
    font-size: 12px;
    color: #999C9f;
    padding-top: 2px;
    border-radius: 5px;
}


//五列表格样式
.ws-table3-container{
    width:758px;
}
.ws-table3 {
    width: 100%;
    background-color: #fafafa;
}
.ws-table3-thead th{
    background-color: #FF6050;
    color: #FFFFFF;
    height: 40px;
    text-align: center;
}
.ws-table3-tr:hover{
    background-color: #f2f2f2;
}
.ws-table3-td{
    font-size: 12px;
    height: 35px;
    font-weight: 600;
    
}
.ws-table3-td.col-0{
    width:6%;
    color: #FFFFFF;
    padding: 0;

}
.ws-table3-td.col-1 {
    width: 45%;
    color: #666666;
}
.ws-table3-td.col-2 {
    width: 20%;
    color: #666666;
}
.ws-table3-td.col-3 {
    width: 20%;
    text-align: right;
    color: #666666;
}
.ws-table3-td.col-4 {
    width: 9%;
    text-align: right;
    color: #666666;
}
.ws-table3-td.col-5 {
    width: 9%;
    padding-left: 40px;
    padding-right: 15px;
    color: #9F9F9F;
    font-weight: 500;
    height: 66px;
    border: 1px solid #E9E9E9;
}
.bgGrey{
    padding-left: 5px;
    padding-right: 5px;
  background:url("/demo/images/u162.png");
  margin: 0;
}
.bgRed{
    padding-left: 5px;
    padding-right: 5px;
    background:url("/demo/images/u186.png");
    margin: 0;
}
.longtext{
    padding: 12px;
}

//简单的四列表格样式
.ws-table-container.wsSimpleT4 {
  width: 454px;
}
.wsSimpleT4 table{
    width: 100%;
}
.wsSimpleT4 th{
    background-color: #FF6050;
    color: #FFFFFF;
    height: 40px;
    font-size: 12px;
    text-align: center;
}
.wsSimpleT4 td{
    font-size: 12px;
    color: #999C9f;
    height: 40px;
    font-family: '微软雅黑 Regular', '微软雅黑';
}
.wsSimpleT4 td.col-0{
    width: 15%;
}
.wsSimpleT4 td.col-1{
    width: 35%;
    padding-left: 40px;
}
.wsSimpleT4 td.col-2{
    width:35%;
}
.wsSimpleT4 td.col-3{
    width:15%
}
.wsSimpleT4 td.top{
    color: red;
}