.flex-item{
  margin-bottom: 50px;    /* 注意 */
}
.container{
  height: 310px;
}
.biaoshi{
  //让元素旋转
  -webkit-transform:rotate(90deg);
  position:absolute;
  height: 20px;
  border: 0px;
  width: 40px;;
  bottom: 0px;
  left: 1195px;
  top: 300px;
}
.more{
  position:absolute;
  height: 20px;
  border: 0px;
  width: 40px;;
  bottom: 0px;
  left: 1220px;
  top: 285px;
}