.app{
  width: 100%;
  height: 240px;
}
.biaoshi{
  //让元素旋转
  -webkit-transform:rotate(90deg);
  position:relative;
  height: 0px;
  left: -21px;
  //border: 0px;
  width: auto;
  bottom: -34px;
  right: 5px;
}
.more{
  position:relative;
  height: auto;
  border: 0px;
  width: auto;
  /* bottom: 0px; */
  right: 5px;
}
.more-div{
  float: right;
  margin-right: -5px;
  width: 35px;
  height: auto;
}
.col-customer-1{
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 1200px) {
  .col-customer-1 {
    width: 10%;
  }
}