
#footer {
  font-size: 12px;
  font-family: '微软雅黑 Regular', '微软雅黑';
  background-color: #475767;
  height:100px;
  font-weight: 400;
  #foot_left {
    margin-left: 100px;
    margin-top: 20px;
    float: left;
    img {
      height: 55px;
      width: 100px;
      margin-left: 0;
    }
  }
  #foot_mid {
    margin-top: 20px;
    margin-left: 10%;
    img {
      height: 29px;
      width: 29px;
      margin-top: 15px;
      margin-left: 10px;
      float: left;
    }
    p {
      floar: left;
      margin-left: 60px;
      color: #CCCCCC;
      margin-bottom: 0px;
    }
    .ws-footer-mid-p {
      margin-top: 14px;
    }
  }
  #foot_right {
    color: #FFFFFF;
    margin-top: 35px;
    float: left;
    margin-left: 10%;
    p{
      margin-bottom: 0px;
    }
  }
}

