.ws-footer-bg{
  background-color: #475767;
  font-size: 12px;
}
#foot_left{
  height: 100px;
  margin-left:117px ;
}

.ws-footer-logo{
  height:55px;
  width: 100px;
  margin-left: 0;

#foot_mid img {
  height:29px;
  width: 29px;

}
.ws-footer-mid {
  height:29px;
  width: 29px;
  margin-left: 0;
}
#foot_right p{
  font-family: '微软雅黑 Regular', '微软雅黑';
  font-size: 12px;
  font-weight: 400;
  font-color: #FFFFFF;
}





































































}
