.ws-footer-bg {
  background-color: #475767;
  font-size: 12px;
}

.u-1of10 {
  flex: 0 0 10%;
  width: 200px;
}
#foot_left {
  height: 100px;
  margin-left: 100px;
  margin-top: 20px;
}
  height:55px;  width: 100px;
  margin-left: 0;
#foot_mid {
  height: 100px;
  margin-top: 20px;
  margin-left: 10px;
}

#foot_mid img {
  height: 29px;
  width: 29px;
  margin-top: 15px;
  margin-left: 10px;
  float: left;
}

#foot_mid p {
  floar: left;
  margin-left: 60px;
  font-weight: 400;
  font-size: 12px;
  color: #CCCCCC;
  margin-bottom: 0px;
}
.ws-footer-mid-p{
  margin-top: 14px;
  margin-left: 0;
}
#foot_right {
  font-family: '微软雅黑 Regular', '微软雅黑';
  font-size: 12px;
  font-weight: 400;
  font-color: #FFFFFF;
  margin-top: 35px;
}
