.ws-header-color {
  background-color: #F0F1F3;
  padding: 0px;
  #head {
    padding: 5px;
    height: 22px ;
  }
  #head_top {
    #head_top_left {
      float: right;
      margin-top: 2px;
      img {
        width: 14px;
        height: 14px;
      }
      span {
        font-size: 11px;
        margin-top: 5px;
        padding-top: 2px;
        color: #A6ADB3;
        margin-right: 5px;
      }
      #head_top_left_span1 {
        margin-left: 10px;
      }
    }
    #head_top_mid {
      float:right;
      margin-left: 8px;
      margin-top: 2px;
      span {
        vertical-align: middle;
        width: 10px;
        height: 12px;
        font-weight: 900;
        font-size: 11px;
        color: #A6ADB3;
      }
      select {
        margin-left: 10px;
        margin-top: 0px;
        font-size: 11px;
        width: 72px;
        background: #F0F1F3;
        -ms-background: #F0F1F3 \9;
        color: #495667;
        border: none;
      }
    }
    #head_top_right {
      float: right;
      margin-left: 10px;
      margin-top: 2px;
      span {
        font-weight: 900;
        font-size: 11px;
        color: #A6ADB3;
      }
      img {
        margin-left: 7px;
        width: 14px;
        height: 14px;
      }
      #head_top_right2 {
        margin-left: 8px;
        font-weight: 500;
      }
    }

  }
  #ws-down {
    margin-top: 0px;
    padding: 0;
    #head_down_left {
      float: left;
      margin-left: 117px;
      margin-top: 5px;
      img {
        float: left;
        width: 42px;
        height: 42px;
        margin-left: 10px;
        margin-top: -1px;
      }
      span {
        font-weight: 400;
        font-size: 24px;
        color: #495667;
        margin-left: 26px;
        margin-top: 2.5px;
        width: 192px;
      }
    }
    #head_down_right {
      margin-top: 15px;
      margin-right: 0px;
      float: right;
      position: relative;
      ul {
        /*去掉小圆点*/
        list-style: none;
        float: right;
        margin-right: 30px;
        li {
          float: right;
          width: 110px;
          a {
            /*去掉下划线*/
            text-decoration: none;
            font-size: 14px;
            color: #96A0AC;
            float: right;
            //移动到该处，字体变色
            &:hover {
              color: #495667;
              font-family: '微软雅黑 Bold', '微软雅黑';
              font-size: 15px;
              font-weight: 700;
            }
          }
        }
      }
    }

  }

}





