.ec-hotword{
  margin-top: 20px;
}
.ec-col-table{
  position: relative;
  height: 540px;
}
.ec-col-table1{
  width: 420px;
}

//.col-md-5{
//  position: relative;
//  left: 70px;
//  border:10px;
//  margin-left: 5px;
//}
.ec-col-table-WsTable6{
  position: absolute;
  top:30px;
  width: 420px;
  left: -20px;
}
.ec-col-table2{
  position:absolute;
  width: 420px;
  left: 430px;
  top:0;
}
.ec-col-table3{
  position: absolute;
  width:420px ;
  left: 860px;
  top:0;
}
.EC-col-customer-6{
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 1270px) and (max-width: 1360px) {
  .EC-col-customer-6{
    width:54.545454%;
  }
}
.EC-col-customer-5{
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 1270px) and (max-width: 1360px){
  .EC-col-customer-5{
    width:45.4545454%;
  }
}


