.hot-event-left{
  position: relative;
  width: 400px;
}
.hot-event-right{
  position: relative;
  width: 760px;
  left: 420px;
  top: -541px;
}
.hot-event{
  height: 580px;
}
.title-new-hot-event{
  width: 400px;
}
.title-new-relative-event{
  width: 760px;
  position: relative;
  left: 420px;
  top: -59px;
}
.hot-title{
  height: 60px;
}