.ws-datepicker {
  display: inline-block;
}

.ws-datepicker-popover.popover {
  padding: 0;
  border-radius: 4px;
}

.ws-datepicker-popover.bottom {
  margin-top: 5px;
}

.ws-datepicker-popover.bottom .arrow {
  top: -7px;
}

.ws-datepicker-popover .popover-content {
  padding: 0;
}

.ws-datepicker-popover .ws-calendar {
  border: none;
  border-radius: 4px;
}
