.ws-datepicker {
  display: inline-block;
}

.ws-datepicker-popover.popover {
  padding: 0;
  border-radius: 4px;
}

.ws-datepicker-popover.bottom {
  margin-top: 5px;
}

.ws-datepicker-popover.bottom .arrow {
  top: -7px;
}

.ws-datepicker-popover .popover-content {
  padding: 0;
}

.ws-datepicker-popover .ws-calendar {
  border: none;
  border-radius: 4px;
}

.ws-datepicker-date-click {
  width: 158px;
  height: 30px;
  background-color: #FF6050;
  color: white;
  text-align: center;
}

.ws-datepicker-date{
  width: 158px;
  height: 30px;
  background-color: white;
  color: black;
  text-align: center;
  border: ridge;
}

.ws-datepicker-input{
  float: left;
}

.ws-datepicker-decide-day {
  float: left;
  width: 45px;
  height: 45px;
  background-color: #FF6050;
  color: white;
  cursor: pointer;
  text-align: center;
  line-height: 45px;
  font-size: large;
}

.ws-datepicker-decide-month {
  float: left;
  width: 45px;
  height: 45px;
  background-color: #909292;
  color: white;
  cursor: pointer;
  text-align: center;
  line-height: 45px;
  font-size: large;
}

.ws-datepicker-dateDiv{
  float: left;
}

.ws-datepicker-dateFont{
  margin-top: 8px;
  margin-left: 20px;
  margin-right: 20px;
}

.ws-datepicker-decide-day-change {
  float: left;
  width: 45px;
  height: 45px;
  background-color: #909292;
  color: white;
  cursor: pointer;
  text-align: center;
  line-height: 45px;
  font-size: large;
}

.ws-datepicker-decide-month-change {
  float: left;
  width: 45px;
  height: 45px;
  background-color: #FF6050;
  color: white;
  cursor: pointer;
  text-align: center;
  line-height: 45px;
  font-size: large;
}
