.ws-recentAccess{
  width: 255px;
  position: relative;
  background-color: white;
}

.ws-recentAccess-header{

}

.ws-recentAccess-img{
  width: 32px;
  height: 32px;
}

.ws-recentAccess-text{
  margin-left: 10px;
  margin-top: 5.5px;
  font-family: 'MicrosoftYaHei', '微软雅黑';
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #FF6050;
}

.ws-recentAccess-content{
  width: 225px;
}

.ws-recentAccess-contentImg{
  margin-top: 15px;
  height: 24px;
  width: 24px;
}

.ws-recentAccess-access{
  margin: 0.5px;
  text-align: center;
  height: 74px;
  width: 74px;
  float: left;
  background-color: #f7f7f7;
}

.ws-recentAccess-contentText{
  padding-top: 6px;
  width: 74px;
  font-size: 10px;
  display: block;
}

.ws-recentAccess-a{
  text-decoration:none;
  color: black;
}