.sel_title{
  width: 40px;

}
.sel_div1{
  position: relative;
}
.sel_select{
  position:absolute;
  left: 0;
  top:0;
}
.active_select{
  display: none;
}
.sel_div3{
  padding: 2px;
  margin-top: 35px;
  margin-left: 40px;
  width: 160px;
  height: 200px;
  /*滚动条设置*/
 /* overflow-x:hidden;
  overflow-y: hidden;*/
  /*overflow-y:scroll;*/
}
.sel_a{
  font-size: 10px;
  width: 40px;
  height: 60px;
  margin: 3px 5px;
  padding: 5px;
}
.sel_a:hover{
   background-color: #ff3627;
  color: #f4f4f4;
  border-radius: 30%;
}
.sel_input{
  width: 100px;
  margin: 10px;
  font-style: normal;
  font-size: 13px;
  color: #333333;
  text-align: center;
  line-height: normal;
}