.tab_container{
  margin-top: 25px;
}
.img{
  width: auto;
  height: auto;
  margin-left: 1px;
}
.bottom-line-none{
  .bottom-line-show;
  visibility: hidden;
}
.bottom-line-show{
  margin-left: 8px;
  width: 70px;
  text-align:center;
  background-color: #f60000;
  height: 2px;
}
.tab-name-div{
  width: 94px;
  height:auto;
}

.span-middle{
  width: 70px;
  height:35px;
  margin-left: 23px;
  line-height:35px;
  cursor: default;
  vertical-align:middle;
  display:inline-block;
}

.tab-onclick{
  color: #f60000;
  height: auto;
}
.img-line{
  visibility: hidden;
}
