.title{
  margin-left:12px;
  margin-top:30px;
  width: 98px;
  height: 98px;
  border: 1px solid #ddd;
  color: black;
  position:relative;
}
.chart{
  position:relative;
  top: 10px;
  text-align: center;
  vertical-align: middle;
  left: -5px;
  width: 39px;
  height: 39px;
}
.name{
  text-align: center;
  position:relative;
  width: 200px;
  height: 17px;
  bottom: -14px;
  border: 0px;
  background-color: transparent;
}